@import 'variables';
@import 'base';

header {
    width: 100%;
    height: 900px;
    background: url(../images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    & a {
        position: relative;
        color: $white;
        text-decoration: none;
        &:hover {
            color: $white;
        }
    }
    & h1 {
        font-size: 4rem;
        color: $white;
        text-transform: uppercase;
        letter-spacing: .8rem;
    }
    & button {
        border: none;
        border-radius: 25px;
        padding: 10px 20px;
        background-color: $white;
        &:hover {
            background-color: #67c7f7;
            color: $white;
        }
    }
    & .arrow {
        padding-top: 75px;
    }
}

.bg-transform {
    padding-left: 300px;
    padding-right: 100px;
    margin: auto;
    & a {
        font-family: $fraunces;
        font-weight: 900;
        font-size: 0.95rem;
        color: black;
        text-transform: uppercase;
        border-bottom: 8px solid hsl(51, 92%, 75%);
        border-radius: 3px;
        &:hover {
            text-decoration: none;
            border-bottom: 8px solid hsl(51, 100%, 49%);
        }
    }
}

.bg-stand {
    padding-right: 300px;
    padding-left: 100px;
    margin: auto;
    & a {
        font-family: $fraunces;
        font-weight: 900;
        font-size: 0.95rem;
        color: black;
        text-transform: uppercase;
        border-bottom: 8px solid hsl(7, 97%, 77%);
        border-radius: 3px;
        &:hover {
            text-decoration: none;
            border-bottom: 8px solid hsl(7, 67%, 60%);
        }
    }
}

.bg-egg {
    max-width: 100%;
    height: 800px;
    background: url(../images/desktop/image-transform.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.bg-stand-out {
    width: 100%;
    height: 800px;
    background: url(../images/desktop/image-stand-out.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.bg-img-graphic {
    background: url(../images/desktop/image-graphic-design.jpg);
}

.bg-photo {
    background: url(../images/desktop/image-photography.jpg);
}


.bg-img-graphic,
.bg-photo {
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
}

.bg-text {
    position: relative;
    width: 400px;
    text-align: center;
    margin: auto;
    padding-top: 400px;
}

.bg-graphic {
    color: $darkDesaturatedCyan;
}

.bg-photography {
    color: $darkBlue;
}

.bg-client {
    & h4 {
        text-transform: uppercase;
        color: $darkGrayishBlue;
        letter-spacing: .5rem;
    }
    & p {
        color: $darkGrayishBlue;
    }
    & span {
        font-family: $fraunces;
        font-size: 1.2rem;
        font-weight: 900;
    }
    & small {
        color: $grayishBlue;
    }
}

.img-profile {
    width: 100px;
    height: auto;
    border-radius: 50%;
    display: flex;
    margin: 0 auto;
}

.bg-img1 {
    background: url(../images/desktop/image-gallery-milkbottles.jpg);
}

.bg-img2 {
    background: url(../images/desktop/image-gallery-orange.jpg);
}

.bg-img3 {
    background: url(../images/desktop/image-gallery-cone.jpg);
}

.bg-img4 {
    background: url(../images/desktop/image-gallery-sugarcubes.jpg);
}

.bg-img {
    width: 100%;
    height: 580px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.bg-footer {
    background-color: $darkModerateCyan;
    & a {
        color: $darkDesaturatedCyan;
        &:hover {
            color: $white;
        }
    }
    & .nav-item:hover path {
        fill: $white;
        cursor: pointer;
    }
}

@media (max-width: 1280px) {
    .bg-transform,
    .bg-stand {
        padding: 60px 30px;
    }
}

@media (max-width: 768px) {
    header  {
        height: 900px;
        & h1 {
        font-size: 2rem;
        }
        & .navbar-collapse {
            position: absolute;
            width: 91%;
            top: 120px;
            background-color: $white;
            text-align: center;
            padding: 15px 0;
            & a {
                color: $darkGrayishBlue !important;           
            }
            & button {
                background-color: $yellow;
                border: 1px solid $yellow;
                &:hover {
                    background-color: transparent;
                    color: black;
                    border: 1px solid $yellow;
                }
            }
        }
    }
    
    .bg-transform,
    .bg-stand {
        padding: 60px 30px;
        text-align: center;
    }

    .bg-stand-out {
        height: 500px;
    }

    .bg-egg {
        height: 500px;
    }

    .bg-text {
        width: 300px;
        padding-top: 300px;
    }

    .bg-img {
        height: 230px;
    }

    .bg-img-graphic,
    .bg-photo {
        width: 100%;
        height: 600px;
    }
}