@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
* {
  padding: 0;
  margin: 0; }

body {
  font-size: 18px;
  font-family: "Barlow", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  line-height: 5rem; }

p {
  font-size: 1.3rem;
  font-weight: 600;
  color: #a7abae; }

button {
  font-family: "Fraunces", serif;
  font-weight: 700; }

.container {
  max-width: 1440px; }

@media (max-width: 768px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 3rem; } }

header {
  width: 100%;
  height: 900px;
  background: url(../images/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom; }
  header a {
    position: relative;
    color: white;
    text-decoration: none; }
    header a:hover {
      color: white; }
  header h1 {
    font-size: 4rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: .8rem; }
  header button {
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    background-color: white; }
    header button:hover {
      background-color: #67c7f7;
      color: white; }
  header .arrow {
    padding-top: 75px; }

.bg-transform {
  padding-left: 300px;
  padding-right: 100px;
  margin: auto; }
  .bg-transform a {
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 0.95rem;
    color: black;
    text-transform: uppercase;
    border-bottom: 8px solid #fae885;
    border-radius: 3px; }
    .bg-transform a:hover {
      text-decoration: none;
      border-bottom: 8px solid #fad400; }

.bg-stand {
  padding-right: 300px;
  padding-left: 100px;
  margin: auto; }
  .bg-stand a {
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 0.95rem;
    color: black;
    text-transform: uppercase;
    border-bottom: 8px solid #fd998b;
    border-radius: 3px; }
    .bg-stand a:hover {
      text-decoration: none;
      border-bottom: 8px solid #dd6555; }

.bg-egg {
  max-width: 100%;
  height: 800px;
  background: url(../images/desktop/image-transform.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom; }

.bg-stand-out {
  width: 100%;
  height: 800px;
  background: url(../images/desktop/image-stand-out.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom; }

.bg-img-graphic {
  background: url(../images/desktop/image-graphic-design.jpg); }

.bg-photo {
  background: url(../images/desktop/image-photography.jpg); }

.bg-img-graphic,
.bg-photo {
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex; }

.bg-text {
  position: relative;
  width: 400px;
  text-align: center;
  margin: auto;
  padding-top: 400px; }

.bg-graphic {
  color: #25564b; }

.bg-photography {
  color: #19536b; }

.bg-client h4 {
  text-transform: uppercase;
  color: #818498;
  letter-spacing: .5rem; }

.bg-client p {
  color: #818498; }

.bg-client span {
  font-family: "Fraunces", serif;
  font-size: 1.2rem;
  font-weight: 900; }

.bg-client small {
  color: #a7abae; }

.img-profile {
  width: 100px;
  height: auto;
  border-radius: 50%;
  display: flex;
  margin: 0 auto; }

.bg-img1 {
  background: url(../images/desktop/image-gallery-milkbottles.jpg); }

.bg-img2 {
  background: url(../images/desktop/image-gallery-orange.jpg); }

.bg-img3 {
  background: url(../images/desktop/image-gallery-cone.jpg); }

.bg-img4 {
  background: url(../images/desktop/image-gallery-sugarcubes.jpg); }

.bg-img {
  width: 100%;
  height: 580px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom; }

.bg-footer {
  background-color: #57cbb4; }
  .bg-footer a {
    color: #25564b; }
    .bg-footer a:hover {
      color: white; }
  .bg-footer .nav-item:hover path {
    fill: white;
    cursor: pointer; }

@media (max-width: 1280px) {
  .bg-transform,
  .bg-stand {
    padding: 60px 30px; } }

@media (max-width: 768px) {
  header {
    height: 900px; }
    header h1 {
      font-size: 2rem; }
    header .navbar-collapse {
      position: absolute;
      width: 91%;
      top: 120px;
      background-color: white;
      text-align: center;
      padding: 15px 0; }
      header .navbar-collapse a {
        color: #818498 !important; }
      header .navbar-collapse button {
        background-color: #fad400;
        border: 1px solid #fad400; }
        header .navbar-collapse button:hover {
          background-color: transparent;
          color: black;
          border: 1px solid #fad400; }
  .bg-transform,
  .bg-stand {
    padding: 60px 30px;
    text-align: center; }
  .bg-stand-out {
    height: 500px; }
  .bg-egg {
    height: 500px; }
  .bg-text {
    width: 300px;
    padding-top: 300px; }
  .bg-img {
    height: 230px; }
  .bg-img-graphic,
  .bg-photo {
    width: 100%;
    height: 600px; } }
